#menu {
 padding: 0;
 float: none;
 }
 #menu li {
 display: inline;
 
 }
 #menu li a {
 font-size: 20px;
 text-decoration: underline red;
 float: right;
 padding: 10px;
 background-color: #2175bc;
 color: #fff;
 }
 #menu li a:hover {
 background-color: #2586d7;
 margin-top: -2;
 padding-bottom: 12px;]
 }
 #menu ul ul {
 display:none;
 position:absolute;
 top:10%;
 left:933;
 background:#eee;
 padding:0;
}

/* items del menu desplegable */

#menu ul ul li {
 float:none;
 width:150px
}

/* enlaces de los items del menu desplegable */

#menu ul ul a {
 line-height:120%;
 padding:10px 1px;
}

/* items del menu desplegable al pasar el ratón */

#menu ul .inicio2:hover > ul {
 display:block;
}
#menu ul li .nosotros {
	background:red;
}
#menu ul li .servicio {
	background: yellow;
}